@model TimeSheetMobileWeb.Models.TimeInputView
@using TimeSheetMobileWeb.Models

<div  id='dateinput' data-title="@SiteResources.HomeMenuTimeInput"  >
    <div>
        <div class='header' >
            <div class='leaveApplication' data-button-target="@Url.Action("Index", "Home")" ></div>
            <h2>@SiteResources.HomeMenuTimeInput</h2>
        </div>
        <div>
            <div class='periodHeader'><span class='currenttimesheet'>period of time</span></div>
            <div>
            <div class='datapickerwidget' ></div>
            <input id="btnCancelDate" type="button" value="@SiteResources.Cancel" class='main-submit cancel' data-button-target='dateinput' />
            </div>
        </div>
        <div class='footer'>
            <hr />
        </div>
    </div>
</div>