@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>Error</title>
</head>
<body>
    <h2>
        An error occured in the request. Please make sure the pwa url is correct
    </h2>
</body>
</html>