<?xml version="1.0"?>
<GlobalViewsConfiguration xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <TimesheetViewField>Default Mobile Timesheet View</TimesheetViewField>
  <TaskUpdatorViewField>Default Mobile Task Updater View</TaskUpdatorViewField>
  <RowsConfiguration>
    <ViewConfigurationRow>
      <Id>RComplete</Id>
      <Name>Timesheet Standard View</Name>    <!-- this is the public name of the view and is visible on the app-->
      <Description>Use this View to....</Description>
		<AdminDescription>Vacation, Sick,...</AdminDescription>   <!-- this is the string that appears in the dropdown when selecting project-->

		<WorkA>false</WorkA>
      <WorkA_Edit>false</WorkA_Edit>
      <WorkA_Name>AW</WorkA_Name>
      <WorkA_FullName>Ass. Work</WorkA_FullName>

      <RegularWorkA>false</RegularWorkA>
	<RegularWorkA_Edit>false</RegularWorkA_Edit>
      <RegularWorkA_Name>ARGW</RegularWorkA_Name>
      <RegularWorkA_FullName>Ass. Regular Work</RegularWorkA_FullName>

      <OvertimeWorkA>false</OvertimeWorkA>
      <OvertimeWorkA_Edit>false</OvertimeWorkA_Edit>
      <OvertimeWorkA_Name>Overtime</OvertimeWorkA_Name>
      <OvertimeWorkA_FullName>Assignement Overtime Work</OvertimeWorkA_FullName>

      <RemainingWorkA>true</RemainingWorkA>
      <RemainingWorkA_Edit>true</RemainingWorkA_Edit>
      <RemainingWorkA_Name>Rem Work</RemainingWorkA_Name>
      <RemainingWorkA_FullName>Remaining Work</RemainingWorkA_FullName>
      
      <ActualWorkA>true</ActualWorkA>
      <ActualWorkA_Name>Act Work</ActualWorkA_Name>
      <ActualWorkA_FullName>Actual Work</ActualWorkA_FullName>
      
      <ActualOvertimeWorkA>false</ActualOvertimeWorkA>
      <ActualOvertimeWorkA_Name>AOW</ActualOvertimeWorkA_Name>
      <ActualOvertimeWorkA_FullName>Actual Overtime Work</ActualOvertimeWorkA_FullName>
      
      <StartA>false</StartA>
      <StartA_Edit>false</StartA_Edit>
      <StartA_Name>AS</StartA_Name>
      <StartA_FullName>Ass. Start Date</StartA_FullName>
      
      <FinishA>false</FinishA>
      <FinishA_Edit>false</FinishA_Edit>
      <FinishA_Name>AF</FinishA_Name>
      <FinishA_FullName>Ass. Finish Date</FinishA_FullName>
      
      <ActualStartA>false</ActualStartA>
      <ActualStartA_Edit>false</ActualStartA_Edit>
      <ActualStartA_Name>AAS</ActualStartA_Name>
      <ActualStartA_FullName>Actual Ass. Start Date</ActualStartA_FullName>
      
      <ActualFinishA>false</ActualFinishA>
      <ActualFinishA_Edit>false</ActualFinishA_Edit>
      <ActualFinishA_Name>AAF</ActualFinishA_Name>
      <ActualFinishA_FullName>Actual Ass. Finish Date</ActualFinishA_FullName>
      
      <PercentWorkCompleteA>false</PercentWorkCompleteA>
      <PercentWorkCompleteA_Edit>false</PercentWorkCompleteA_Edit>
      <PercentWorkCompleteA_Name>APC</PercentWorkCompleteA_Name>
      <PercentWorkCompleteA_FullName>Perc. Ass. Complete</PercentWorkCompleteA_FullName>
      
      <AssignmentUnitsA>false</AssignmentUnitsA>
      <AssignmentUnitsA_Edit>false</AssignmentUnitsA_Edit>
      <AssignmentUnitsA_Name>AU</AssignmentUnitsA_Name>
      <AssignmentUnitsA_FullName>Assignement Units</AssignmentUnitsA_FullName>

      <ConfirmedA>false</ConfirmedA>
      <ConfirmedA_Edit>false</ConfirmedA_Edit>
      <ConfirmedA_Name>AC</ConfirmedA_Name>
      <ConfirmedA_FullName>Confirmed</ConfirmedA_FullName>

      <CommentsA>true</CommentsA>
      <CommentsA_Edit>true</CommentsA_Edit>
      <CommentsA_Name>Comment</CommentsA_Name>
      <CommentsA_FullName>Comments</CommentsA_FullName>
      
      <WorkT>false</WorkT>
      <WorkT_Edit>false</WorkT_Edit>
      <WorkT_Name>TW</WorkT_Name>
      <WorkT_FullName>Task Work</WorkT_FullName>
      
      <RegularWorkT>false</RegularWorkT>
      <RegularWorkT_Edit>false</RegularWorkT_Edit>
      <RegularWorkT_Name>TRGW</RegularWorkT_Name>
      <RegularWorkT_FullName>Task Regular Work</RegularWorkT_FullName>
      
      <OvertimeWorkT>false</OvertimeWorkT>
      <OvertimeWorkT_Edit>false</OvertimeWorkT_Edit>
      <OvertimeWorkT_Name>TOW</OvertimeWorkT_Name>
      <OvertimeWorkT_FullName>Task Overtime Work</OvertimeWorkT_FullName>
      
      <RemainingWorkT>false</RemainingWorkT>
      <RemainingWorkT_Edit>false</RemainingWorkT_Edit>
      <RemainingWorkT_Name>TRMW</RemainingWorkT_Name>
      <RemainingWorkT_FullName>Task Remaining Work</RemainingWorkT_FullName>
      
      <RemainingOvertimeWorkT>false</RemainingOvertimeWorkT>
      <RemainingOvertimeWorkT_Edit>false</RemainingOvertimeWorkT_Edit>
      <RemainingOvertimeWorkT_Name>TRMOW</RemainingOvertimeWorkT_Name>
      <RemainingOvertimeWorkT_FullName>Remaining Overtime Work</RemainingOvertimeWorkT_FullName>
      
      <ActualWorkT>false</ActualWorkT>
      <ActualWorkT_Edit>false</ActualWorkT_Edit>
      <ActualWorkT_Name>TAW</ActualWorkT_Name>
      <ActualWorkT_FullName>Actual Task Work</ActualWorkT_FullName>

      <StartT>false</StartT>
      <StartT_Edit>false</StartT_Edit>
      <StartT_Name>TS</StartT_Name>
      <StartT_FullName>Task Start</StartT_FullName>

      <FinishT>false</FinishT>
      <FinishT_Edit>false</FinishT_Edit>
      <FinishT_Name>TF</FinishT_Name>
      <FinishT_FullName>Task Finish</FinishT_FullName>

      <ResumeT>false</ResumeT>
      <ResumeT_Edit>false</ResumeT_Edit>
      <ResumeT_Name>RT</ResumeT_Name>
      <ResumeT_FullName>Task Resume Date</ResumeT_FullName>

      <DeadlineT>true</DeadlineT>
      <DeadlineT_Edit>true</DeadlineT_Edit>
      <DeadlineT_Name>Task Deadline</DeadlineT_Name>
      <DeadlineT_FullName>Task Deadline</DeadlineT_FullName>

      <DurationT>false</DurationT>
      <DurationT_Edit>false</DurationT_Edit>
      <DurationT_Name>TDU</DurationT_Name>
      <DurationT_FullName>Duration</DurationT_FullName>

      <RemainingDurationT>false</RemainingDurationT>
      <RemainingDurationT_Edit>false</RemainingDurationT_Edit>
      <RemainingDurationT_Name>TRMD</RemainingDurationT_Name>
      <RemainingDurationT_FullName>Remaining Duration</RemainingDurationT_FullName>

      <TaskNameT>false</TaskNameT>
      <TaskNameT_Edit>false</TaskNameT_Edit>
      <TaskNameT_Name>TN</TaskNameT_Name>
      <TaskNameT_FullName>Task Name</TaskNameT_FullName>

      <PercentCompleteT>false</PercentCompleteT>
      <PercentCompleteT_Edit>false</PercentCompleteT_Edit>
      <PercentCompleteT_Name>TPC</PercentCompleteT_Name>
      <PercentCompleteT_FullName>Perc. Task Complete</PercentCompleteT_FullName>

      <PercentWorkCompleteT>false</PercentWorkCompleteT>
      <PercentWorkCompleteT_Edit>false</PercentWorkCompleteT_Edit>
      <PercentWorkCompleteT_Name>TPWC</PercentWorkCompleteT_Name>
      <PercentWorkCompleteT_FullName>Perc. Task Work Complete</PercentWorkCompleteT_FullName>

      <PhysicalPercentCompleteT>false</PhysicalPercentCompleteT>
      <PhysicalPercentCompleteT_Edit>false</PhysicalPercentCompleteT_Edit>
      <PhysicalPercentCompleteT_Name>TPPC</PhysicalPercentCompleteT_Name>
      <PhysicalPercentCompleteT_FullName>Physical Perc. Task Complete</PhysicalPercentCompleteT_FullName>
      
      <ActualNonBillableWorkA>false</ActualNonBillableWorkA>
      <ActualNonBillableWorkA_Name>ANBW</ActualNonBillableWorkA_Name>
      <ActualNonBillableWorkA_FullName>Actual Non Billable Work</ActualNonBillableWorkA_FullName>
      
      <ActualNonBillableOvertimeWorkA>false</ActualNonBillableOvertimeWorkA>
      <ActualNonBillableOvertimeWorkA_Name>ANBOW</ActualNonBillableOvertimeWorkA_Name>
      <ActualNonBillableOvertimeWorkA_FullName>Actual Non Billable Overtime Work</ActualNonBillableOvertimeWorkA_FullName>
    </ViewConfigurationRow>
	  <ViewConfigurationRow>
		  <Id>TS2</Id>
		  <Name>Timesheet Standard View 2</Name>
		  <!-- this is the public name of the view and is visible on the app-->
		  <Description>Use this View to make a test</Description>
		  <AdminDescription>Vacation, Sick,...</AdminDescription>
		  <!-- this is the string that appears in the dropdown when selecting project-->

		  <WorkA>false</WorkA>
		  <WorkA_Edit>false</WorkA_Edit>
		  <WorkA_Name>AW</WorkA_Name>
		  <WorkA_FullName>Ass. Work</WorkA_FullName>

		  <RegularWorkA>false</RegularWorkA>
		  <RegularWorkA_Edit>false</RegularWorkA_Edit>
		  <RegularWorkA_Name>ARGW</RegularWorkA_Name>
		  <RegularWorkA_FullName>Ass. Regular Work</RegularWorkA_FullName>

		  <OvertimeWorkA>false</OvertimeWorkA>
		  <OvertimeWorkA_Edit>false</OvertimeWorkA_Edit>
		  <OvertimeWorkA_Name>AOW</OvertimeWorkA_Name>
		  <OvertimeWorkA_FullName>Assignement Overtime Work</OvertimeWorkA_FullName>

		  <RemainingWorkA>false</RemainingWorkA>
		  <RemainingWorkA_Edit>false</RemainingWorkA_Edit>
		  <RemainingWorkA_Name>Rem Work</RemainingWorkA_Name>
		  <RemainingWorkA_FullName>Ass. Remaining Work</RemainingWorkA_FullName>

		  <ActualWorkA>true</ActualWorkA>
		  <ActualWorkA_Name>Act Work</ActualWorkA_Name>
		  <ActualWorkA_FullName>Actual Work</ActualWorkA_FullName>

		  <ActualOvertimeWorkA>true</ActualOvertimeWorkA>
		  <ActualOvertimeWorkA_Name>AOW</ActualOvertimeWorkA_Name>
		  <ActualOvertimeWorkA_FullName>Actual Overtime Work</ActualOvertimeWorkA_FullName>

		  <StartA>false</StartA>
		  <StartA_Edit>false</StartA_Edit>
		  <StartA_Name>AS</StartA_Name>
		  <StartA_FullName>Ass. Start Date</StartA_FullName>

		  <FinishA>false</FinishA>
		  <FinishA_Edit>false</FinishA_Edit>
		  <FinishA_Name>AF</FinishA_Name>
		  <FinishA_FullName>Ass. Finish Date</FinishA_FullName>

		  <ActualStartA>false</ActualStartA>
		  <ActualStartA_Edit>false</ActualStartA_Edit>
		  <ActualStartA_Name>AAS</ActualStartA_Name>
		  <ActualStartA_FullName>Actual Ass. Start Date</ActualStartA_FullName>

		  <ActualFinishA>false</ActualFinishA>
		  <ActualFinishA_Edit>false</ActualFinishA_Edit>
		  <ActualFinishA_Name>AAF</ActualFinishA_Name>
		  <ActualFinishA_FullName>Actual Ass. Finish Date</ActualFinishA_FullName>

		  <PercentWorkCompleteA>false</PercentWorkCompleteA>
		  <PercentWorkCompleteA_Edit>false</PercentWorkCompleteA_Edit>
		  <PercentWorkCompleteA_Name>APC</PercentWorkCompleteA_Name>
		  <PercentWorkCompleteA_FullName>Perc. Ass. Complete</PercentWorkCompleteA_FullName>

		  <AssignmentUnitsA>false</AssignmentUnitsA>
		  <AssignmentUnitsA_Edit>false</AssignmentUnitsA_Edit>
		  <AssignmentUnitsA_Name>AU</AssignmentUnitsA_Name>
		  <AssignmentUnitsA_FullName>Assignement Units</AssignmentUnitsA_FullName>

		  <ConfirmedA>false</ConfirmedA>
		  <ConfirmedA_Edit>false</ConfirmedA_Edit>
		  <ConfirmedA_Name>AC</ConfirmedA_Name>
		  <ConfirmedA_FullName>Confirmed</ConfirmedA_FullName>

		  <CommentsA>true</CommentsA>
		  <CommentsA_Edit>true</CommentsA_Edit>
		  <CommentsA_Name>Comment</CommentsA_Name>
		  <CommentsA_FullName>Comments</CommentsA_FullName>

		  <WorkT>false</WorkT>
		  <WorkT_Edit>false</WorkT_Edit>
		  <WorkT_Name>TW</WorkT_Name>
		  <WorkT_FullName>Task Work</WorkT_FullName>

		  <RegularWorkT>false</RegularWorkT>
		  <RegularWorkT_Edit>false</RegularWorkT_Edit>
		  <RegularWorkT_Name>TRGW</RegularWorkT_Name>
		  <RegularWorkT_FullName>Task Regular Work</RegularWorkT_FullName>

		  <OvertimeWorkT>false</OvertimeWorkT>
		  <OvertimeWorkT_Edit>false</OvertimeWorkT_Edit>
		  <OvertimeWorkT_Name>TOW</OvertimeWorkT_Name>
		  <OvertimeWorkT_FullName>Task Overtime Work</OvertimeWorkT_FullName>

		  <RemainingWorkT>false</RemainingWorkT>
		  <RemainingWorkT_Edit>false</RemainingWorkT_Edit>
		  <RemainingWorkT_Name>TRMW</RemainingWorkT_Name>
		  <RemainingWorkT_FullName>Task Remaining Work</RemainingWorkT_FullName>

		  <RemainingOvertimeWorkT>false</RemainingOvertimeWorkT>
		  <RemainingOvertimeWorkT_Edit>false</RemainingOvertimeWorkT_Edit>
		  <RemainingOvertimeWorkT_Name>TRMOW</RemainingOvertimeWorkT_Name>
		  <RemainingOvertimeWorkT_FullName>Remaining Overtime Work</RemainingOvertimeWorkT_FullName>

		  <ActualWorkT>false</ActualWorkT>
		  <ActualWorkT_Edit>false</ActualWorkT_Edit>
		  <ActualWorkT_Name>TAW</ActualWorkT_Name>
		  <ActualWorkT_FullName>Actual Task Work</ActualWorkT_FullName>

		  <StartT>false</StartT>
		  <StartT_Edit>false</StartT_Edit>
		  <StartT_Name>TS</StartT_Name>
		  <StartT_FullName>Task Start</StartT_FullName>

		  <FinishT>false</FinishT>
		  <FinishT_Edit>false</FinishT_Edit>
		  <FinishT_Name>TF</FinishT_Name>
		  <FinishT_FullName>Task Finish</FinishT_FullName>

		  <ResumeT>false</ResumeT>
		  <ResumeT_Edit>false</ResumeT_Edit>
		  <ResumeT_Name>RT</ResumeT_Name>
		  <ResumeT_FullName>Task Resume Date</ResumeT_FullName>

		  <DeadlineT>false</DeadlineT>
		  <DeadlineT_Edit>false</DeadlineT_Edit>
		  <DeadlineT_Name>TDD</DeadlineT_Name>
		  <DeadlineT_FullName>Task Deadline</DeadlineT_FullName>

		  <DurationT>false</DurationT>
		  <DurationT_Edit>false</DurationT_Edit>
		  <DurationT_Name>TDU</DurationT_Name>
		  <DurationT_FullName>Duration</DurationT_FullName>

		  <RemainingDurationT>false</RemainingDurationT>
		  <RemainingDurationT_Edit>false</RemainingDurationT_Edit>
		  <RemainingDurationT_Name>TRMD</RemainingDurationT_Name>
		  <RemainingDurationT_FullName>Remaining Duration</RemainingDurationT_FullName>

		  <TaskNameT>false</TaskNameT>
		  <TaskNameT_Edit>false</TaskNameT_Edit>
		  <TaskNameT_Name>TN</TaskNameT_Name>
		  <TaskNameT_FullName>Task Name</TaskNameT_FullName>

		  <PercentCompleteT>false</PercentCompleteT>
		  <PercentCompleteT_Edit>false</PercentCompleteT_Edit>
		  <PercentCompleteT_Name>TPC</PercentCompleteT_Name>
		  <PercentCompleteT_FullName>Perc. Task Complete</PercentCompleteT_FullName>

		  <PercentWorkCompleteT>false</PercentWorkCompleteT>
		  <PercentWorkCompleteT_Edit>false</PercentWorkCompleteT_Edit>
		  <PercentWorkCompleteT_Name>TPWC</PercentWorkCompleteT_Name>
		  <PercentWorkCompleteT_FullName>Perc. Task Work Complete</PercentWorkCompleteT_FullName>

		  <PhysicalPercentCompleteT>false</PhysicalPercentCompleteT>
		  <PhysicalPercentCompleteT_Edit>false</PhysicalPercentCompleteT_Edit>
		  <PhysicalPercentCompleteT_Name>TPPC</PhysicalPercentCompleteT_Name>
		  <PhysicalPercentCompleteT_FullName>Physical Perc. Task Complete</PhysicalPercentCompleteT_FullName>

		  <ActualNonBillableWorkA>false</ActualNonBillableWorkA>
		  <ActualNonBillableWorkA_Name>ANBW</ActualNonBillableWorkA_Name>
		  <ActualNonBillableWorkA_FullName>Actual Non Billable Work</ActualNonBillableWorkA_FullName>

		  <ActualNonBillableOvertimeWorkA>false</ActualNonBillableOvertimeWorkA>
		  <ActualNonBillableOvertimeWorkA_Name>ANBOW</ActualNonBillableOvertimeWorkA_Name>
		  <ActualNonBillableOvertimeWorkA_FullName>Actual Non Billable Overtime Work</ActualNonBillableOvertimeWorkA_FullName>
	  </ViewConfigurationRow>
  </RowsConfiguration>
  <TasksConfiguration>
    <ViewConfigurationTask>
      <Id>TComplete</Id>
      <Name>TComplete</Name>
      <Description>Use this View to see Task....</Description>
    
      <NoTPData>true</NoTPData>   <!-- when set to true, timphased values can't be selected-->
      <WorkA>false</WorkA>
      <WorkA_Edit>false</WorkA_Edit>
      <WorkA_Name>AW</WorkA_Name>
      <WorkA_FullName>Ass. Work</WorkA_FullName>

      <RegularWorkA>false</RegularWorkA>
      <RegularWorkA_Edit>false</RegularWorkA_Edit>
      <RegularWorkA_Name>ARGW</RegularWorkA_Name>
      <RegularWorkA_FullName>Ass. Regular Work</RegularWorkA_FullName>

      <OvertimeWorkA>false</OvertimeWorkA>
      <OvertimeWorkA_Edit>false</OvertimeWorkA_Edit>
      <OvertimeWorkA_Name>AOW</OvertimeWorkA_Name>
      <OvertimeWorkA_FullName>Assignement Overtime Work</OvertimeWorkA_FullName>

      <RemainingWorkA>false</RemainingWorkA>
      <RemainingWorkA_Edit>false</RemainingWorkA_Edit>
      <RemainingWorkA_Name>ARMW</RemainingWorkA_Name>
      <RemainingWorkA_FullName>Ass. Remaining Work</RemainingWorkA_FullName>

      <ActualWorkA>true</ActualWorkA>
      <ActualWorkA_Name>AW</ActualWorkA_Name>
      <ActualWorkA_FullName>Actual Work</ActualWorkA_FullName>

      <ActualOvertimeWorkA>false</ActualOvertimeWorkA>
      <ActualOvertimeWorkA_Name>AOW</ActualOvertimeWorkA_Name>
      <ActualOvertimeWorkA_FullName>Actual Overtime Work</ActualOvertimeWorkA_FullName>

      <StartA>false</StartA>
      <StartA_Edit>false</StartA_Edit>
      <StartA_Name>AS</StartA_Name>
      <StartA_FullName>Ass. Start Date</StartA_FullName>

      <FinishA>false</FinishA>
      <FinishA_Edit>false</FinishA_Edit>
      <FinishA_Name>AF</FinishA_Name>
      <FinishA_FullName>Ass. Finish Date</FinishA_FullName>

      <ActualStartA>false</ActualStartA>
      <ActualStartA_Edit>false</ActualStartA_Edit>
      <ActualStartA_Name>Act Start</ActualStartA_Name>
      <ActualStartA_FullName>Actual Ass. Start Date</ActualStartA_FullName>

      <ActualFinishA>false</ActualFinishA>
      <ActualFinishA_Edit>false</ActualFinishA_Edit>
      <ActualFinishA_Name>AAF</ActualFinishA_Name>
      <ActualFinishA_FullName>Actual Ass. Finish Date</ActualFinishA_FullName>

      <PercentWorkCompleteA>false</PercentWorkCompleteA>
      <PercentWorkCompleteA_Edit>false</PercentWorkCompleteA_Edit>
      <PercentWorkCompleteA_Name>APC</PercentWorkCompleteA_Name>
      <PercentWorkCompleteA_FullName>Perc. Ass. Complete</PercentWorkCompleteA_FullName>

      <AssignmentUnitsA>false</AssignmentUnitsA>
      <AssignmentUnitsA_Edit>false</AssignmentUnitsA_Edit>
      <AssignmentUnitsA_Name>AU</AssignmentUnitsA_Name>
      <AssignmentUnitsA_FullName>Assignement Units</AssignmentUnitsA_FullName>

      <ConfirmedA>false</ConfirmedA>
      <ConfirmedA_Edit>false</ConfirmedA_Edit>
      <ConfirmedA_Name>AC</ConfirmedA_Name>
      <ConfirmedA_FullName>Confirmed</ConfirmedA_FullName>

      <CommentsA>true</CommentsA>
      <CommentsA_Edit>true</CommentsA_Edit>
      <CommentsA_Name>Comments</CommentsA_Name>
      <CommentsA_FullName>Comments</CommentsA_FullName>

      <WorkT>false</WorkT>
      <WorkT_Edit>false</WorkT_Edit>
      <WorkT_Name>TW</WorkT_Name>
      <WorkT_FullName>Task Work</WorkT_FullName>

      <RegularWorkT>false</RegularWorkT>
      <RegularWorkT_Edit>false</RegularWorkT_Edit>
      <RegularWorkT_Name>TRGW</RegularWorkT_Name>
      <RegularWorkT_FullName>Task Regular Work</RegularWorkT_FullName>

      <OvertimeWorkT>false</OvertimeWorkT>
      <OvertimeWorkT_Edit>false</OvertimeWorkT_Edit>
      <OvertimeWorkT_Name>TOW</OvertimeWorkT_Name>
      <OvertimeWorkT_FullName>Task Overtime Work</OvertimeWorkT_FullName>

      <RemainingWorkT>false</RemainingWorkT>
      <RemainingWorkT_Edit>false</RemainingWorkT_Edit>
      <RemainingWorkT_Name>TRMW</RemainingWorkT_Name>
      <RemainingWorkT_FullName>TRMW</RemainingWorkT_FullName>

      <ActualWorkT>false</ActualWorkT>
      <ActualWorkT_Edit>false</ActualWorkT_Edit>
      <ActualWorkT_Name>TAW</ActualWorkT_Name>
      <ActualWorkT_FullName>Actual Task Work</ActualWorkT_FullName>

      <StartT>false</StartT>
      <StartT_Edit>false</StartT_Edit>
      <StartT_Name>TS</StartT_Name>
      <StartT_FullName>Task Start</StartT_FullName>

      <FinishT>false</FinishT>
      <FinishT_Edit>false</FinishT_Edit>
      <FinishT_Name>TF</FinishT_Name>
      <FinishT_FullName>Task Finish</FinishT_FullName>

      <ResumeT>false</ResumeT>
      <ResumeT_Edit>false</ResumeT_Edit>
      <ResumeT_Name>Resume</ResumeT_Name>
      <ResumeT_FullName>Task Resume Date</ResumeT_FullName>

      <DeadlineT>true</DeadlineT>
      <DeadlineT_Edit>true</DeadlineT_Edit>
      <DeadlineT_Name>Deadline</DeadlineT_Name>
      <DeadlineT_FullName>Task Deadline</DeadlineT_FullName>

      <DurationT>false</DurationT>
      <DurationT_Edit>false</DurationT_Edit>
      <DurationT_Name>TDU</DurationT_Name>
      <DurationT_FullName>Duration</DurationT_FullName>

      <RemainingDurationT>true</RemainingDurationT>
      <RemainingDurationT_Edit>true</RemainingDurationT_Edit>
      <RemainingDurationT_Name>Remaining Dur</RemainingDurationT_Name>
      <RemainingDurationT_FullName>Remaining Duration</RemainingDurationT_FullName>

      <TaskNameT>true</TaskNameT>
      <TaskNameT_Edit>false</TaskNameT_Edit>
      <TaskNameT_Name>TN</TaskNameT_Name>
      <TaskNameT_FullName>Task Name</TaskNameT_FullName>

      <PercentCompleteT>false</PercentCompleteT>
      <PercentCompleteT_Edit>false</PercentCompleteT_Edit>
      <PercentCompleteT_Name>TPC</PercentCompleteT_Name>
      <PercentCompleteT_FullName>Perc. Task Complete</PercentCompleteT_FullName>

      <PercentWorkCompleteT>false</PercentWorkCompleteT>
      <PercentWorkCompleteT_Edit>false</PercentWorkCompleteT_Edit>
      <PercentWorkCompleteT_Name>TPWC</PercentWorkCompleteT_Name>
      <PercentWorkCompleteT_FullName>Perc. Task Work Complete</PercentWorkCompleteT_FullName>

      <PhysicalPercentCompleteT>true</PhysicalPercentCompleteT>
      <PhysicalPercentCompleteT_Edit>true</PhysicalPercentCompleteT_Edit>
      <PhysicalPercentCompleteT_Name>Phys % Comp</PhysicalPercentCompleteT_Name>
      <PhysicalPercentCompleteT_FullName>Physical Perc. Task Complete</PhysicalPercentCompleteT_FullName>

    </ViewConfigurationTask>
  </TasksConfiguration>
</GlobalViewsConfiguration>